<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.birlax.temporalDb.mapper.UserMapper">

    <select id="getNow" resultType="com.birlax.temporalDb.domain.BrokerageCharge">
        select * from sandbox.brokerage_charges_rule_system
    </select>


    <update id="update" parameterType="com.birlax.temporalDb.domain.BrokerageCharge">
        INSERT INTO sandbox.brokerage_charges_rule_system
        (
            id
            , rule_id
            , rule_name
            , broker_code
            , product_type
            , trade_type
            , commets
        )
        VALUES(
            #{id}
            , #{ruleId}
            , #{ruleName}
            , #{brokerCode}
            , #{productType}
            , #{tradeType}
            , #{commets}
        )
        <!--  WHERE NOT EXISTS ( SELECT 1 FROM sandbox.brokerage_charges_rule_system WHERE rule_id = #{ruleId} ) -->
    </update>


</mapper>